# Dependencies
node_modules
build
build_production

files/leads/*
uploads/*
logs/*

# yarn error logs
yarn-error.log
yarn.lock

# Environment varibales
.env
!.env*.development
!.env*.production
!.env.release
resources/static/assets/uploads/temp/*

# Code coverage
coverage

# bun
bun.lockb
.DS_Store

# file
src/public/uploads/excel
src/public/uploads/image