# Port number
PORT=1807
NODE_ENV=production

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

APP_QUEUENAME_PREFIX=FXGS3N103

#_______#### Validate Client Data ####_______#
TIMEZONE = Asia/Ho_Chi_Minh
VALIDATION_FORMAT_DATE='DD/MM/YYYY'
VALIDATION_FORMAT_DATETIME='HH:mm:ss DD/MM/YYYY'

#_______#### URL of the Mongo DB ####_______#
# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/mmo
# MONGODB_URL=mongodb+srv://lymphot:Cc123456@cluster0.5nlyxze.mongodb.net/crm
TABLE_PREFIX=mm

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=129600
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=2
# Number of day after which a set image
JWT_SET_IMAGE_DAY=2

# Google
EMAIL=cuongk56a@gmail.com
PASS=
# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=https://mmobe.lymphot.cyou/v1/auth/google/callback
# Services
SERVICE_FILE_URI=http://localhost:1807